In [14]:
import pandas as pd
# Let's load and inspect the contents of the uploaded file to see what's inside.
file_path = '/workspaces/project/en.es.train.jl'

with open(file_path, 'r') as file:
    content = file.readlines()

# Display the first few lines to understand the file's structure and content
content[:]

data = pd.DataFrame(content)

data

                                                      0
0     {"src_id": "8221", "src_query": "Death", "tgt_...
1     {"src_id": "5334607", "src_query": "Africa", "...
2     {"src_id": "26769", "src_query": "South Americ...
3     {"src_id": "21241", "src_query": "Norway", "tg...
4     {"src_id": "26994", "src_query": "Scotland", "...
...                                                 ...
9995  {"src_id": "357953", "src_query": "Red-rumped ...
9996  {"src_id": "6583", "src_query": "Chinese cuisi...
9997  {"src_id": "352100", "src_query": "Broad-bille...
9998  {"src_id": "225615", "src_query": "Terminator ...
9999  {"src_id": "1786", "src_query": "Arabic numera...

[10000 rows x 1 columns]

In [6]:
import pandas as pd
import json
import os
import csv

# Load the contents of the file
file_path = '/workspaces/project/en.es.train.jl'

# Check file size
file_size = os.path.getsize(file_path)
print(f"File size: {file_size} bytes")

# Read file content
with open(file_path, 'r') as file:
    content = file.readlines()

# Check number of lines
print(f"Number of lines read: {len(content)}")

# Process each line to extract relevant data
data = []
for line in content:
    entry = json.loads(line)
    src_id = entry['src_id']
    src_query = entry['src_query']
    for result in entry['tgt_results']:
        result_id, score = result
        data.append([src_id, src_query, result_id, score])

# Create a DataFrame
df = pd.DataFrame(data, columns=['src_id', 'src_query', 'result_id', 'score'])

# Check number of rows in DataFrame
print(f"Number of rows in DataFrame: {len(df)}")

# Display first few rows
print(df.head(1000))

df.to_csv('file.csv', index=False)

File size: 16626510 bytes
Number of lines read: 10000
Number of rows in DataFrame: 1000000
    src_id  src_query result_id  score
0     8221      Death      1942      6
1     8221      Death   1817604      4
2     8221      Death   7609604      4
3     8221      Death   7267253      4
4     8221      Death   1706783      4
..     ...        ...       ...    ...
995  17675  Lithuania   4557524      0
996  17675  Lithuania   4728781      0
997  17675  Lithuania   4780367      0
998  17675  Lithuania   5559984      0
999  17675  Lithuania   4974662      0

[1000 rows x 4 columns]

In [3]:
import pandas as pd
# Path to the text file
text_file_path = '/workspaces/project/es.tsv'

# Load the text file into a DataFrame
text_df = pd.read_csv(text_file_path, sep='\t', header=None, names=['result_id', 'doc_text'])

# Display the first few rows of the text DataFrame
print(text_df.head(100))

#text_df.to_csv('file1.csv', index=False)

    result_id                                           doc_text
0      842510         [{{fullurl:{{{2}}}|action=edit}} editar]
1     7503491                                               Ó⇔¿?
2      855896         [{{fullurl:{{{2}}}|action=edit}} editar]
3     5444240  La palabra mácula (del latín macŭla, «mancha»)...
4     4292429         [{{fullurl:{{{2}}}|action=edit}} editar]
..        ...                                                ...
95    1467940                                            Imagen3
96    5338428  Puedes colaborar con artículos en el Wikiproye...
97    1437817  Hitlers Zweites Buch (Segundo libro de Hitler)...
98    5619132          Archivo:Dakar2006 Ullevalseter Esteve.jpg
99     494840  Wikipedia:Bienvenido Introducción a Wikipedia ...

[100 rows x 2 columns]

In [7]:
import pandas as pd

# Filter out rows where 'doc_text' contains the unwanted text, accounting for any hidden characters or spaces
df_filtered = text_df[~text_df['doc_text'].str.strip().eq("[{{fullurl:{{{2}}}|action=edit}} editar]")]

# Display the filtered DataFrame
print("\nFiltered DataFrame:")
print(df_filtered)

df_filtered.to_csv("file2.csv", index=False)

Filtered DataFrame:
        result_id                                           doc_text
1         7503491                                               Ó⇔¿?
3         5444240  La palabra mácula (del latín macŭla, «mancha»)...
6         6239109  Bailando por un sueño 2014 es la tercera tempo...
8         2593040                                Wikiproyecto África
10        7188837  El área de Arequipa Metropolitana, es un área ...
...           ...                                                ...
160013    3492298  «Cuts Like A Knife» es una canción escrita por...
160014    5307157  La batalla del estuario del Escalda fue una se...
160015    1381798  Laniarius es un género de aves paseriformes de...
160016    8167132  Saiki Kusuo no Psi-nan es una serie de anime p...
160017     678067                          La cultura de la Unión So

[159981 rows x 2 columns]

In [13]:
import pandas as pd

# Assuming 'df' is your DataFrame
# Filter out rows where 'doc_text' contains the unwanted text
df_filtered1 = df_filtered[~df_filtered['doc_text'].str.strip().eq("Ó⇔¿?")]

# Display the filtered DataFrame
print("\nFiltered DataFrame:")
print(df_filtered1)

df_filtered1.duplicated().sum()

df_filtered1.to_csv("file3.csv", index=False)

Filtered DataFrame:
        result_id                                           doc_text
3         5444240  La palabra mácula (del latín macŭla, «mancha»)...
6         6239109  Bailando por un sueño 2014 es la tercera tempo...
8         2593040                                Wikiproyecto África
10        7188837  El área de Arequipa Metropolitana, es un área ...
11        4639639  12012 (イチニーゼロイチニ, ichi-ni-zero-ichi-ni?) es un...
...           ...                                                ...
160013    3492298  «Cuts Like A Knife» es una canción escrita por...
160014    5307157  La batalla del estuario del Escalda fue una se...
160015    1381798  Laniarius es un género de aves paseriformes de...
160016    8167132  Saiki Kusuo no Psi-nan es una serie de anime p...
160017     678067                          La cultura de la Unión So

[159980 rows x 2 columns]